/*
Comentarii in CSS
*/
/*Pentru paragraf*/
p{
    padding:5px;
    background:lightgoldenrodyellow;
    color: grey;
    border:2px solid greenyellow;
}
/*Pentru linkuri*/
a{
    text-decoration: none;
    font-family: monospace;
    color:rgb(0, 102, 255);
    padding: 3px;
    background-color: lightgray;
    margin: 5px
}
